input, select, textarea, label, a {
    color:#8f8f8f;
    font: inherit;
    margin: 5px;
    width: 300px;  
  }
  
button {
    height:35px;
    padding:3px 25px;
    margin: 20px 1px 1px 20px;
    cursor:pointer;
    display:inline-block;
    color:#8f8f8f;
    font-size:14px;
    border:1px solid #eee;
    background:#c7ecca;
    border-radius:4px;
    line-height:2em;
    border:1px solid #8f8d8d;
    text-decoration:none;
            
}

form, fieldset {
    padding: 5px;
    margin: 20px 20px;
  }
  
  h1 {
    color:#8f8f8f;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .underline {
    border-bottom: solid 2px #8f8f8f;
    margin: -0.512em auto;
    width: 80px;
  }