<div>
    <h1>Complete the form to add a product</h1>
</div>
<form novalidate [formGroup]="makeupForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <label for="id">Product Id:</label>
        <input type="text" id="id" formControlName="id" />

        <div *ngIf="
        !makeupForm.get('id').valid &&
        (makeupForm.get('id').dirty || submitted)
      ">
            You have entered the wrong product id
        </div>
    </fieldset>
    <fieldset>
        <label for="brand">Brand:</label>
        <input type="text" id="brand" formControlName="brand" />

        <div *ngIf="
        !makeupForm.get('brand').valid &&
        (makeupForm.get('brand').dirty || submitted)
      ">
            You have entered the wrong brand
        </div>
    </fieldset>
    <fieldset>
        <label for="name">Product name:</label>
        <input type="text" id="name" formControlName="name" />

        <div *ngIf="
            !makeupForm.get('name').valid &&
            (makeupForm.get('name').dirty || submitted)
          ">
            You have entered the wrong name
        </div>
    </fieldset>
    <fieldset>
        <label for="image_link">Image:</label>
        <input type="text" id="image_link" formControlName="image_link" />

        <div *ngIf="
                !makeupForm.get('image_link').valid &&
                (makeupForm.get('image_link').dirty || submitted)
              ">
            You have entered the wrong image
        </div>
    </fieldset>
    <fieldset>
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" />

        <div *ngIf="
        !makeupForm.get('description').valid &&
        (makeupForm.get('description').dirty || submitted)
      ">
            You have entered the wrong description
        </div>
    </fieldset>
    <fieldset>
        <label for="product_type">Product type:</label>
        <input type="text" id="product_type" formControlName="product_type" />

        <div *ngIf="
            !makeupForm.get('product_type').valid &&
            (makeupForm.get('product_type').dirty || submitted)
          ">
            You have entered the wrong product type
        </div>
    </fieldset>
    <fieldset>
        <label for="colorname">Color name:</label>
        <input type="text" id="colorname" formControlName="colorname" />
        <div *ngIf="
    !makeupForm.get('colorname').valid &&
    (makeupForm.get('colorname').dirty || submitted)
  ">
            You have entered the wrong color name
        </div>
        <label for="hexvalue">Color value:</label>
        <input type="text" id="hexvalue" formControlName="hexvalue" />
        <a href="https://www.w3schools.com/colors/colors_picker.asp" target="_blank">Please
            check in this table the
            reference</a>

        <div *ngIf="
    !makeupForm.get('hexvalue').valid &&
    (makeupForm.get('hexvalue').dirty || submitted)
  ">
            You have entered the wrong color value
        </div>
    </fieldset>
    <button type="submit" [disabled]="!makeupForm.valid">Submit</button>
</form>
<app-modal-create [(showModal)]="showModal">
    <div class="modal-header">
        <h1>Makeup form</h1>
    </div>
    <div class="modal-body">
        <h3>Product added successfully</h3>
        <button routerLink="/haul-list">Return to Haul List</button>
    </div>
</app-modal-create>