<app-card-detail *ngFor="let detail of detailcard" [detail]="detailcard"></app-card-detail>
<div *ngIf="detailcard">
    <div>
        <h1>{{detailcard.brand}}</h1>
        <h2>{{detailcard.name}}</h2>
    </div>
    <div>
        <img src="{{detailcard.image_link}}" alt="{detailcard.image_link}}">

    </div>
    <div>
        <p><strong>Category:</strong> {{detailcard.product_type}}</p>
    </div>
    <div>
        <p><strong>Description</strong></p>
        <p>{{detailcard.description}}</p>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Reference</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let color of detailcard.product_colors">
                    <td> {{color.colorname}}</td>
                    <td>{{color.hexvalue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button class="button" (click)="goBack()">Go Back</button>