div {
    color: #8f8f8f;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    
            h1 {
                font-size: 45px;
                color: #a4cea7;;
                }
            h2 {
                font-size: 15px;
                }
                
            img {
                height: 400px;
                width: 250px;
                margin: 0px 0px 0px 60px;
                }
            table, tr, td {
                width: 50%;
                text-align: justify;
                th {
                    color:#a4cea7;;
                }
            }
              }
            

.button {
    height:35px;
    padding:3px 25px;
    margin:20px 40px;
    cursor:pointer;
    display:inline-block;
    color:#8f8f8f;
    font-size:14px;
    border:1px solid #eee;
    background:#c7ecca;
    border-radius:4px;
    line-height:2em;
    border:1px solid #8f8f8f;
    text-decoration:none;
            
}
