div {
    padding: 10px 20px 5px 20px;

    div{
        height: 500px;
    width: auto;
    margin: 10px 35px 0px 35px;
        background-image:url("https://beautywithhollie.com/wp-content/uploads/2020/06/The-Best-Vegan-Makeup-Brands-That-You-Need-to-Know-About.jpg");
    }

    h2, h3 {
      color:  #a4cea7;
      line-height: 30px;
    padding: 10px 20px 10px 20px;
    display: flex;
    text-align: justify;
    margin: 10px 10px 10px 10px;
    }
        
    p {
     color:   #8f8f8f;
    line-height: 30px;
    padding: 10px 20px 10px 20px;
    display: flex;
    text-align: justify;
    margin: 10px 10px 10px 10px;
}
}