<div>
    <h2>About us</h2>
    <p>This is an application developed with Angular. It consumes an own api created with json server.</p>
    <p>We can find a large selection of vegan and cruelty free makeup. In addition to consulting a list and detail of all products we can add new products through a form.</p>
    <h3>WE CARE ABOUT THE PLANET, ANIMALS, PEOPLE AND NATURE.</h3>
    <div></div>
</div>