  p {
    margin: 50px;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    color: #a4cea7;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    position: relative;
  
    &::before {
      content: attr(data-item);
      transition: all 0.5s ease-in-out;
      color: #c9c8c8;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      overflow: hidden;
    }
  
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  
nav {
    margin: 25px;
    background: #f9f9f9;
    padding: 1px;
    .menuItems {
      list-style: none;
      display: flex;
      justify-content: center;
  
    li {
        margin: 25px;
  
    a {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 24px;
          font-weight: 400;
          transition: all 0.2s ease-in-out;
          position: relative;
          text-transform: uppercase;
  
          &::before {
            content: attr(data-item);
            transition: all 0.2s ease-in-out;
            color: #a4cea7;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
        
          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }