<p data-item='VEGAN MAKEUP HALL'>VEGAN MAKEUP HALL</p>
  <nav>
    <ul class="menuItems">
      <li><a class="" data-item='Home' role="button" routerLink="/home">Home</a></li>
      <li><a class="" data-item='Haul List' role="button" routerLink="/haul-list">Haul List</a></li>
      <li><a class="" data-item='Makeup Add' role="button" routerLink="/makeupcreate">Makeup Add</a></li>
      <li><a class="" data-item='About' role="button" routerLink="/about">About</a></li>
    </ul>
  </nav>
