div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #8f8f8f;

}