<div [routerLink]="['/detail', card.id]">
    <div>
        <h3>{{card.brand}}</h3>
        <h4>{{card.name}}</h4>
    </div>
    <div>
        <img src="{{card.image_link}}" alt="{card.image_link}}">
    </div>
</div>