div {
    text-align: center;
    width: 300px;
    border: 5px;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
    white-space: initial;
    transform: scale(1.02);
    transition: 0.5s ease;


    h3 {
     font-size: 25px;
     color: #9cd4a1;
    }

    h4 {
        font-size: 15px;
        
    }
}

img {
    margin-bottom: 10px;
    height: 200px;
    width: 180px;
}